/*.statistics {
  width: 300px;
  text-align: center;
  background-color: rgb(218, 228, 218);
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  padding: 10px;
}

.title {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: xx-large;
}

.button {
  border-color: rgb(175, 201, 134);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.651);
  background-color: rgba(224, 174, 212, 0.418);
  font-weight: bold;
  font-size: medium;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
}

.button:active {
  background-color: rgb(85, 105, 216);
}

.state {
  color: rgba(0, 0, 0, 0.781);
  font-weight: bold;
  font-size: large;
}
*/
